/* xl */
@media (max-width: 1399.98px){
    .font-xl-marca{font-size: 0.8em;}
    
}
/* lg */
@media (max-width: 1199.98px){
    .font-lg-marca {font-size: 0.9em;}
    .text-lg-collection {top: 5em;}
    .text-lg-collection input{font-size: 0.8em; padding: 5px;}
    .text-lg-collection h1 {font-size: 1.5em;}
    .text-lg-collection h5 {font-size: 0.9em;}
}
/* md */
@media (max-width: 991.98px){
    .nav-md{font-size: 0.7em;}
    .font-md-marca {font-size: 0.6em;}
    .titulo-md {font-size: 2em;}
    .button-md-marca{font-size: 0.7em;}
    .text-md-align{font-size: 2em;padding-top: 15rem;}
    .banner-md{height: 30rem;}
    .text-md-collection {top: 4em;}
    .text-md-collection input{font-size: 0.6em;}
    .text-md-collection h1 {font-size: 1.3em;}
    .text-md-collection h5 {font-size: 0.7em;}
    .form-md input{font-size: 0.6em; padding: 1px 0;}
    .form-md textarea {font-size: 0.6em; padding: 1px 0;}
    .cop-md{font-size: 0.5em;}
    .p-md {font-size: 0.6em;}
}  
/* sm */
@media (max-width: 767.98px){
    .nav-sm{ height: 1.7rem; font-size: 0.7em;}
    .nav-sm-icon{left: 5px; top: 8px;}
    .nav-sm-icon img{width: 15px;height: 15px;}
    .nav-sm-icon p{font-size: 0.8em; padding-left: 2px; padding-top: 2px;}
    .font-sm-marca{font-size: 0.5em;}
    .linha-sm{display: none;}
    .titulo-sm {font-size: 1.5em;}
    .button-sm-marca{font-size: 0.5em;}
    .text-sm-align{font-size: 2em;padding-top: 10rem;}
    .banner-sm{height: 20rem;}
    .text-sm-collection.text-sm-collection.text-sm-collection.text-sm-collection.text-sm-collection {top: 2rem;}
    .text-sm-collection input{font-size: 0.3em; margin-top: 3px;}
    .text-sm-collection h1 {font-size: 1.1em;}
    .text-sm-collection h5 {font-size: 0.5em; margin-bottom: 1px;}
    .form-control-sm.form-control-sm.form-control-sm.form-control-sm{height: 1.2em;}
} 
/* xs */
@media (max-width: 575.98px){
    .font-xs-marca{font-size: 0.2em;}
} 